<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Demo</title>
	
	<link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>

<body>

	<p th:text="'Time on the server is ' + ${theDate}" class="funny" />

</body>

</html>